<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/script.js"></script>
<link rel="stylesheet" href="/static/styles.css">
<div class="message-container">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for
  message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith
  %}
</div>
<div class="panel panel-primary filterable">
  <table class="table">
    <thead>
      <tr class="filters">

        {%for header in headings %}
        <th><input type="text" placeholder="{{header}}" /></th>
        {% endfor%}

      </tr>
    </thead>
    <tbody>
    </tr>
    {%for row in data %}
    <tr class="table__row">
      {%for cell in row%}
      <td class="table__cell">{{cell}}</td>
      {%endfor%}
    </tr>
    {%endfor %}

    </tbody>
  </table>
  <p>No.of Rows : <span id="rowcount"></span></p>
</div>
